.pictures {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.milk {
  background: url("../images/mobile/image-gallery-milkbottles.jpg");
}

.oranges {
  background: url("../images/mobile/image-gallery-orange.jpg");
}

.cone {
  background: url("../images/mobile/image-gallery-cone.jpg");
}

.sugar {
  background: url("../images/mobile/image-gallery-sugar-cubes.jpg");
}

.pictures div{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

@media (max-width: 375px) {
  .pictures {
    grid-template-columns: repeat(2, 1fr);
  }

  .pictures div {
    height: 200px;
  }
}